[submodule "codes/webpack-demos-pro"]
	path = codes/webpack-demos-pro
	url = git@github.com:Lemonnnnnnnnnnn/webpack-demos-pro.git
[submodule "codes/vue-demo"]
	path = codes/vue-demo
	url = git@github.com:Lemonnnnnnnnnnn/vue-demo.git
[submodule "codes/javaScript"]
	path = codes/javaScript
	url = git@github.com:Lemonnnnnnnnnnn/javaScript.git
[submodule "codes/react-demo"]
	path = codes/react-demo
	url = git@github.com:Lemonnnnnnnnnnn/react-demo.git
[submodule "codes/python-demo"]
	path = codes/python-demo
	url = git@github.com:Lemonnnnnnnnnnn/python-demo.git
[submodule "codes/c-demo"]
	path = codes/c-demo
	url = git@github.com:Lemonnnnnnnnnnn/c-demo.git
