/* 
写不写local均可,只有带global的选择器不会被编译
*/
/* :local(.h1) {
  color:red;
} */
.h1 {
  color : red
}

/* 
global(.className) 可以用来声明一个明确的全局选择器。使用:global（无括号）可以将此选择器切换至全局模式。
两种写法编译后的结果一致，区别暂且不明
*/
/* :global(.h2) {
  color: blue;
} */
:global .h2 {
  color: blue;
}
